.fig{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 33px;
    margin: 200px;
    display: flex;
}
.t{
    text-align: center;
    font-size: 30px;
    
    


}
.fig figure{
    flex: calc(30%);
    margin: 0;
    font-size: 20px;
    text-align: center;
}
.fig img{
    width: 200px;
    height: 200px;
    border-radius: 50px;
}
.foot{
    text-align: center;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    


}
.b{
    background-image: url(flag.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    
}